
<div class="page mat-typography" fxLayout="column">
  <nav>
    <a routerLink="/news"> 
      <div fxLayout="row">
        <mat-icon>arrow_back</mat-icon> 
        <h4>Back to News</h4>
      </div>
    </a>
  </nav>
  <!-- <h3>
    <div fxLayout="row"> 
      <div *ngFor="let category of tabs"><span class="category-item">{{category.display}}</span></div>
    </div>
  </h3> -->
  <h2>Categories</h2>

  <div *ngFor="let category of allCategories">
      <div class="button-wrapper">
        <mat-slide-toggle 
          id="{{category.id}}" 
          checked="{{category.checked}}"  
          (change)="onClick(category.category, $event)">
          {{category.display}}
        </mat-slide-toggle> 
      </div>
  </div>

  <!-- <h2>Filters</h2>

  <app-filter></app-filter> -->


  
</div>

