
<div class="page mat-typography" fxLayout="column">
  <nav>
    <a routerLink="/news"> 
      <div fxLayout="row">
        <mat-icon>arrow_back</mat-icon> 
        <h4>Back to News</h4>
      </div>
    </a>
  </nav>

  <h2>Categories</h2>

  <div *ngFor="let category of getAllCategories | async">
      <div class="button-wrapper">
        <mat-slide-toggle 
        aria-label="Toggle {{category.display}}"
          id="{{category.id}}" 
          checked="{{category.selected}}"  
          (change)="onClick(category, $event)">
          {{category.display}}
        </mat-slide-toggle> 
      </div>
  </div>
</div>

