  
  <div *ngFor="let article of articles">
      <mat-card class="news-card mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>
              <img src="{{article.urlToImage}}" mat-card-image>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="mat-title">{{article.title}}</div> 
          <div class="mat-body-2">{{article.source.name}}</div>
          <div class="mat-body-1">{{article.description}}</div>
        </mat-card-content>
       <mat-card-actions>
            <a href="{{article.url}}">
              <button isIconButton mat-button>READ</button>
            </a> 
       </mat-card-actions>
      </mat-card>
    </div>
  