

<!-- <div *ngIf="!initialArticleLoadComplete | async" class="spinner">
  <mat-spinner></mat-spinner>
</div> -->

<div detect-scroll  
    (onScroll)="handleScroll($event)" 
    [bottomOffset]="bottomOffset" 
    [topOffset]="topOffset">

  <div  class="card-wrapper" 
        fxLayout="row center wrap"
        fxLayoutAlign="center center">
  <div *ngFor="let article of getArticles | async">

      <div id="{{article.id}}" class="card mat-elevation-z8">
          <div class="image-wrapper">
            <img src="{{article.urlToImage}}" 
              alt="Image for {{article.source.name}} article"
              class="image"
              >
          </div>
          <div class="title">
            <a (click)="gotToArticle(article)">
              <div class="mat-title">{{article.title}}</div> 
            </a>
          </div>
          <div class="content">
            <div class="mat-body-2">{{article.source.name}}</div>
            <div class="mat-body-1">{{article.description}}</div>
          </div>
          <div class="actions">
            <button 
              (click)="gotToArticle(article)" 
              disabled="{{ isOffline | async}}"
              color="primary"
              mat-button>READ</button>
          </div>
        </div>
  </div>
  </div>
</div>
