
    <mat-toolbar class="header" color="primary">
        <span>Marty News</span>
        <span class="fill-space"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>settings</mat-icon>
        </button>
        <nav>
            <mat-menu #menu="matMenu">
                <a routerLink="/category">
                    <button mat-menu-item>
                    <mat-icon>category</mat-icon>
                    <span>Category</span>
                    </button>
                </a>
                <a routerLink="/filter">
                    <button mat-menu-item>
                    <mat-icon>filter_list</mat-icon>
                    <span>Filter</span>
                    </button>
                </a>
            </mat-menu>
        </nav>       
    </mat-toolbar>
    
    <div class="app-body">
        <router-outlet></router-outlet>
    </div>
    



 

