.header{
    position: fixed;
    width: 100vv;
    top: 0;
    /* top: -200px; */
    z-index: 100;
}

nav{
    z-index: 101;
}

.fill-space {
    flex: 1 1 auto;
}

a {
    color: white;
}

.app-body {
    height: 100%;
    margin-top: 55px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

