<mat-toolbar class="header" color="primary">
        <span id="title">Marty News</span>
        <span class="fill-space"></span>
        <button 
            aria-label="Trigger menu"
            mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>settings</mat-icon>
        </button>
        <nav>
            <mat-menu #menu="matMenu">
                <a *ngIf="isMobleAndEmbedded" routerLink="/standalone">
                    <button mat-menu-item
                    aria-label="Add to home screen">
                    <mat-icon>add_to_home_screen</mat-icon>
                    <span>HomeScreen</span>
                    </button>
                </a>
                <a routerLink="/category">
                    <button mat-menu-item
                        aria-label="Select categories">
                    <mat-icon>category</mat-icon>
                    <span>Category</span>
                    </button>
                </a>
                <a routerLink="/filter">
                    <button mat-menu-item
                    aria-label="Edit filters">
                    <mat-icon>filter_list</mat-icon>
                    <span>Filter</span>
                    </button>
                </a>
                <a routerLink="/log">
                    <button mat-menu-item
                    aria-label="View logs">
                    <mat-icon>subject</mat-icon>
                    <span>Log</span>
                    </button>
                </a>
                
            </mat-menu>
        </nav>       
    </mat-toolbar>
    
    
    <div class="app-body">
        <router-outlet></router-outlet>
    </div>
    
    
    