<!-- <mat-tab-group>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group> -->

<mat-tab-group 
    [selectedIndex]="tabSelected"
    (selectedIndexChange)="tabChanged($event)">
    <div *ngFor="let tab of tabs">
        <mat-tab label="{{tab.display}}">
            <div class="articles">
                <app-article category="{{tab.id}}"></app-article>
            </div>
        </mat-tab>
    </div>
</mat-tab-group>