<div class="page mat-typography">
        <nav>
                <a routerLink="/news"> 
                        <div fxLayout="row">
                        <mat-icon>arrow_back</mat-icon> 
                        <h4>Back to News</h4>
                        </div>
                </a>
        </nav>

        <h2>Logs</h2>
        <div *ngIf="logs.length">
                <table>
                        <div *ngFor='let log of logs'> 
                                <tr>
                                        <td>{{log.location}}</td>
                                        <td>{{log.message}}</td>
                                        <td>{{log.time}}</td>
                                </tr>
                        </div>
                </table>             
        </div>
        <div *ngIf="!logs.length">
                <h4>No logs</h4>
        </div>
</div>